<style>
  #amplifier-title-saved {
    display: none;
    opacity: 0;
  }

  #amplifier-title-saved.show {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; /* Add a transition for the opacity property */
  }
</style>

<body>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="">Create Assignment</h1>
          <%= form_for @amplifier, url: amplifier_path(@amplifier), html: {method: "patch", 'data-turbo-action': "replace", id: "amplifier-form"} do |f| %>
            <div class="form-group">
              <%= f.label :title, "Amplifier Title:" %>
              <%= f.text_field :title, id: "amplifier-title", class: "form-control" %>
              <div id="amplifier-title-saved" class="text-success">Saved</div>
            </div>
          <% end %>
          <%= render partial: "amplifier_conversations/messages", locals: { amplifier: @amplifier, conversation: AmplifierConversation.new(amplifier: @amplifier) } %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div>
                  <label for="export-dropdown">Export</label>
                </div>
                <div class="btn-group">
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> To Docs </button>
                  <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                  </div>
                </div>
              </div>
              <div class="row mt-2 justify-content-end custom-button-group">
                  <div class="col-md-auto">
                      <a class="btn btn-primary d-inline-flex" href="#">Schedule</a>
                  </div>
                  <div class="col-md-auto">
                      <a class="btn btn-secondary" href="#">Publish</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-controller="messages">
          <h1 class="">Amplifier</h1>
          <%= render partial: "amplifiers/form_conversation", locals: { amplifier: @amplifier, conversation: @conversation } %>
          <div class="card mb-3">
            <div class="card-header"> Amplifier Type</div>
            <div class="card-body">
              <div class="btn-group">
                <div class="form-group">
                  <%= label_tag :amplifier_type_id, "Amplifier Type" %>
                  <%= select_tag :amplifier_type_id, options_for_select(AmplifierType.all.map{ |type| [type.title, type.id] }, selected: @amplifier.amplifier_type_id), class: "form-control" %>
                </div>
              </div>
              <p>Category Type</p>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header"> Course Information</div>
            <div class="card-body">
              <p>Course</p>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Math Second Grade </button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p>Grade</p>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Second Grade </button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
